{% extends "base.html" %}

{% block content %}
<div id="game">
  <canvas id="game-canvas" width="500" height="400"></canvas>
</div>

<div id="msgbox">
  <input type="hidden" id="my-nick" value="remram"/>
  <input type="hidden" id="my-key" value="afd54c"/>
  <input type="hidden" id="my-racket" value="0"/>
  <div id="game-log"></div>
  <div id="send-box">
    <p>
      <input type="text" id="message"/>
      <button type="button" id="send_message" autocomplete="off">Send</button>
    </p>
  </div>
</div>
{% endblock %}
