html, body {
  margin: 0;
  padding: 0;
  color: #FFF;
  background: #00;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover, a:active {
  color: red;
  text-decoration: none;
}

#wrap {
  width: 800px;
  margin: 0 auto;
}

#header {
  margin-bottom: 10px;
  padding: 10px;
  background: #355;
}

#game {
  float: left;
  margin-bottom: 10px;
  padding: 10px;
  width: 580px;
  background: #353;
}

#msgbox {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 170px;
  background: #535;
}

#footer {
  clear: both;
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 10px;
  color: grey;
}

#game-log {
  height: 300px;
  overflow-y: auto;
}

#game-log p {
  font-family: monospace;
}

#game-log p.warn {
  color: #FF6;
}

#game-log p.msg {
  color: #66F;
}

#game-log p.error {
  color: #F66;
}
